
<html>
  
    <body bgcolor="2B616D">
      <h3><font color="FF4447"> ERROR 404 </h3><br>

      <h1>
        <center>
          <font color="FA8D62"> Oh No!! This page doesn't exist.
        </center>
      </h1>

      <h3>
        <center>
          <a href="{{url_for('hello_beer_world')}}">
            <font color="FA8D62"> Return to the Homepage
          </a>
        </center>
      </h3>

      <h2>
        <center>
          <font color="B2DBD5"> (Could be worse though. You typed a wrong URL. At least you didn't spill your beer!) 
        </center> 
      </h2>
      <br>
      <center>
        <img src='/static/spilledbeer.jpg'>
      </center>
    </body>

</html>