<body bgcolor="2B616D">

<font color="B2DBD5">{{ current_time.now().strftime("%A, %B %d %H:%M %p") }}

<ul>
    {% if data != 'NULL' %}
    	{% for r in data %}
	        <div> 
	        	{% if r['website'] %}
	        	    <h1><font color="FA8D62"> {{ r['name'] }} </h1>
	        		<h3><font color="FFFFFF"> Website: <a href ="{{ r['website'] }}"><font color="B2DBD5">{{ r['website'] }}</a> </h3>
	        	{% endif %}

	        	{% if r['description'] %}
	        		<h3> <font color="FFFFFF">Description: <font color="B2DBD5">{{r['description']}} </h3>
	        	{% endif %}

	        </div>
	    {% endfor %}
	{% else %}

		{% if current_time.now().time() < today5pm %}
			<h2><font color="B2DBD5"> {{ username }}, it's not even 5 o'clock and you typed "{{ name }}". Slow down on the beers and try again! </h2>
		{% else %}
			<h2><font color="B2DBD5"> {{ username }}, it's past 5 o'clock. What are you doing searching for "{{ name }}"? Grab a beer try again! </h2>
		{% endif %}

    {% endif %}

</ul>

    <h1><center><a href="{{ url_for('search') }}"><font color="FA8D62">Search for something else!</a></center></h1>
</body>